# this provides maven
language: java

# run in a docker container
sudo: false 

# cache the local maven artifact repository
cache:
    directories:
        - $HOME/.m2
        
# no need to install anything
install: true


# copy the settings.xml to the maven directory
before_script: "cp .travis.settings.xml $HOME/.m2/settings.xml"

jobs:
    include:
        - stage: test
          # compile and test
          script: "mvn --batch-mode clean test"
          
        - stage: deploy
          # compile, test, and deploy
          script: "mvn --batch-mode clean source:jar javadoc:jar deploy -DaltDeploymentRepository=snapshots::default::https://maven.mosi.informatik.uni-rostock.de/content/repositories/snapshots"
      

# delete the newly generated files that should not be cached
before_cache: "rm -rf $HOME/.m2/repository/com/github/toromtomtom/robocup-instrumentation"
      
stages:
    - name: test
      if: branch != develop
    - name: deploy
      if: branch = develop
